@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

  :root {
    --gray: #ACACAC;
    --main: #404FEC;
  }


}

@layer components{
  .dashboardNavIcon {
    @apply cursor-pointer text-[#8E928A] ml-8 font-semibold active:text-white focus:text-white hover:bg-gray-700 py-1 px-2 rounded active:bg-gray-700 focus:bg-gray-700 transition-all peer-checked:bg-gray-700 peer-checked:text-white;
  }
}